.table {
  border-collapse: collapse;
  border-radius: 0.5rem;
  overflow: hidden;
  border: 2px;
  width: 100%;
}

.table td,
.table th {
  padding: 8px 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.table tr:nth-child(even) {
  background: #00000050;
}

.table tr:hover {
  background: #00000095;
}

.table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background: #00000095;
}
